<!DOCTYPE html>
<html lang="en">
<head>
    <title>Forward Fitness Club</title>
    <meta charset="utf-8">
</head>
<body>
     
    <header>
    Forward Fitness Club    
    </header>
    <nav>
        Home &nbsp; &nbsp;  
        About us  &nbsp;  &nbsp; 
        classes  &nbsp;  &nbsp; 
        Nutrition &nbsp;  &nbsp; 
        Contact us &nbsp;  &nbsp; 
    </nav>
    <main>
    </main>
    <footer>
        &copy; 2021. all rights reserved. <br> Forwardfitness@club.net
    </footer>
</body>
</html>