<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Forward Fitness Club</title>
    <meta charset="utf-8" />
  </head>
  <body>
    <div id="container">
    <header>
      <a href="index.html"><img src="images/ffc_logo.png" alt="Forward Fitness Club logo" height="275" width="845"> </a>
    </header>
    <nav>
      <a href="index.html">Home</a> &nbsp; &nbsp;
      <a href="Aboutus.html"> About us</a> &nbsp; &nbsp;
      <a href="classes.html"> classes</a> &nbsp; &nbsp;
      <a href="Nutrition.html">Nutrition </a>&nbsp; &nbsp;
      <a href="contact.html">Contact us</a> &nbsp; &nbsp;
    </nav>
    <main></main>
    <footer>
      &copy; 2021. all rights reserved. <br />
      Forwardfitness@club.net
    </footer>
    </div>
  </body>
</html>
